@mixin os600 {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin osNormal {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin active {
  &:not([disabled]):active {
    @content;
  }
}